<ion-header>
  <ion-toolbar color="success">
    <ion-back-button slot="start" defaultHref="/movies"> </ion-back-button>
    <ion-title> {{ movie?.title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movie">
    <img [src]="imageBaseUrl + '/w400' + movie.poster_path">

    <ion-card-header>
      <ion-card-title> {{ movie.title }} </ion-card-title>
      <ion-card-subtitle> {{ movie.tagline }} </ion-card-subtitle>
      <ion-text color="tertiary">
        <span *ngFor="let g of movie.genres; let isLast = last">
          {{ g.name }} {{ !isLast ? '·' : ''}}
        </span>
      </ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-label color="medium"> {{ movie.overview }} </ion-label>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label> {{ movie.release_date | date: 'y'}} </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label> {{ movie.budget | currency: 'USD'}} </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="openHomepage()">
    Open Homepage
  </ion-button>
</ion-footer>
